sources/Images/*
sources/Software/*
!sources/Software/*.ps1

ps/modules/ComputerManagementDsc
ps/modules/SqlServer
ps/modules/SqlServerDsc
ps/modules/xActiveDirectory
ps/modules/xDhcpServer
ps/modules/xDnsServer
ps/modules/xNetworking
ps/modules/xRemoteDesktopAdmin
ps/modules/xWebAdministration
ps/modules/xWinEventLog

configuration/*.mof
