sources/**/*
!sources/**/*.ps1

modules/ComputerManagementDsc
modules/SqlServer
modules/SqlServerDsc
modules/xActiveDirectory
modules/xDhcpServer
modules/xDnsServer
modules/xNetworking
modules/xRemoteDesktopAdmin
modules/xWebAdministration
modules/xWinEventLog

configuration/*.mof
